*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(Pictures/Backgrounds/Untitled\ design.png);
    background-size: 70%;
    background-position: center;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 400px;
    height: 90vh;
    background: white;
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.8);
    border-radius: 6px;
}
#cover{
    background: url(Pictures/Backgrounds/Untitled\ design.png);
    background-size: 125%;
    background-position: center;

    width: 100%;
    height: 200px;
}
#feilds{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#feilds > h1{
    font-size: calc(2.5rem,3vw,1.5rem);
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 25px 15px 25px;
}
#myform{
    padding: 0px 25px 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 450px;
}
#myform > fieldset{
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    border: none;

    position: relative;
}
#myform > fieldset > div{
    padding:  0px 20px 0px 10px;
    width: 100%;
    height: 40px;
    background: #FFA67E;
    border: none;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    width: 90%;
    height: 50%;
    background: none;
    border: none;
}
input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: aliceblue;
}
#submit{
    width: 100%;
    height: 30px;
    background: #E26E5F;
    color: aliceblue;
    cursor: pointer;
    position: absolute;
    bottom: 25px;
}
#submit:hover{
    background: #b95c50;
    transition: 0.25s;
}